<h1 class="mb-5 ms-3">Aqui estão suas estatísticas!</h1>

<div class="d-flex gap-3 flex-wrap">
    <div class="card border-dark mb-3 ms-3" style="max-width: 18rem;">
    <div class="card-header">Total de usuários cadastrados</div>
    <div class="card-body">
        <h5 class="card-title"><%= @total_users %></h5>
    </div>
    </div>

    <div class="card border-dark mb-3 ms-3" style="max-width: 18rem;">
    <div class="card-header">Total de questões cadastradas</div>
    <div class="card-body">
        <h5 class="card-title"><%= @total_questions %></h5>
    </div>
    </div>
</div>
